{%- assign proCollection = section.settings.collection_handle -%}
{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign proRow = section.settings.row | plus:0 -%}
{%- assign proLimit = section.settings.limit | plus:0 -%}
{% assign collg = 12 | divided_by:owlColumn1 %}
{% assign colmd = 12 | divided_by:owlColumn2 %}
{% assign colsm = 12 | divided_by:owlColumn3 %}
{% assign colxs = 12 | divided_by:owlColumn4 %}


<div id="proList{{ section.id }}" class="velaProducts{% if section.settings.subfixclass !=blank %} {{section.settings.subfixclass}}{% endif %}" style="background-color: {{section.settings.color_bg }};{% if section.settings.img_bg !=blank %} background-image: url({{ section.settings.img_bg | img_url: "master" }});{% endif %}
                                     {% if section.settings.margin_block !=blank %}margin:{{section.settings.margin_block}}; {% endif %}
                                     {% if section.settings.padding_block !=blank %}padding:{{section.settings.padding_block}}; {% endif %}">
   <div class="container{% if section.settings.full_with %}-full{% endif %}">
        
        {% if section.settings.title != blank %}
        <h3 class="velaTitle velaHomeTitle">
            {% if section.settings.title != blank  %}
                <span class="title">{{ section.settings.title }}</span>
            {% endif %}
            {% if section.settings.subtitle != blank %}
            <span class="subtitle">{{ section.settings.subtitle }}</span>
            {% endif %}
        </h3>
        {% endif %}
         <div class="velaContent">
               <div class="velaOwlRow owlCarouselPlay proList proListThumbnail ">
                  <div class="owl-carousel"   data-nav="{{ section.settings.navigation }}" 
                                            data-autoplay="{{ section.settings.autoplay }}" 
                                            data-autospeed="{{ section.settings.autoplay_speed }}" 
                                            data-speed="{{ section.settings.speed }}" 
                                            data-columnone="{{ owlColumn1 }}" 
                                            data-columntwo="{{ owlColumn2 }}" 
                                            data-columnthree="{{ owlColumn3 }}"
                                            data-columnfour="{{ owlColumn4 }}">
                    {% for product in collections[proCollection].products limit:proLimit %}
                        {% if proRow == 1 %}
                            <div class="item">
                              {% include 'product-list-thumbnail' %}
                            </div>
                        {% else %}
                           {% assign checkRow  = forloop.index | modulo:proRow %}
                           {% if checkRow == 1 %}
                              <div class="item">
                           {% endif %}
                              {% include 'product-list-thumbnail' %} 
                           {% if checkRow == 0 or forloop.last %}
                              </div>
                           {% endif %}
                        {% endif %}
                    {% endfor %}
                  </div>
               </div>           
         </div>
    </div>
</div>

{% schema %}
{
    "name": "Vela ProList Thumbnail",
    "class": "velaFramework",
    "settings":[
        {
             "type": "header",
             "content": "Design Section"
         },
         {
             "type": "checkbox",
             "id": "full_with",
             "label": "Enabel Full Width?"
         },
         {
             "type": "text",
             "id": "subfixclass",
             "label": "Add class"
         },
         {
             "type": "image_picker",
             "id": "img_bg",
             "label": "background image for block"
         },
         {
             "type": "color",
             "id": "color_bg",
             "label": "Background Color",
             "default": "rgba(0,0,0,0)"
         },
         {
             "type": "text",
             "id": "margin_block",
             "label": "Margin",
             "placeholder": "0px 0px"
         },
         {
             "type": "text",
             "id": "padding_block",
             "label": "Padding",
             "placeholder": "0px 0px"
         },
        {
            "type": "header",
            "content": "General Settings"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "placeholder": "Title of section"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "SubTitle",
            "placeholder": "Subtitle of section"
        },
        {
            "type": "collection",
            "id": "collection_handle",
            "label": "Collection"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Select Layout",
            "default": "grid",
            "options":[
                {
                    "value": "grid",
                  "label": "Grid"
                },
               {
                  "value": "list",
                  "label": "List"
               }
            ]
        },
         {
            "type": "checkbox",
            "id": "carousel_enable",
            "label": "Carousel Enable?",
            "default": true
         },
        {
            "type": "header",
            "content": "Carousel Settings"
        },
        {
            "type": "select",
            "id": "column1",
            "label": "#Column 1",
            "default": "4",
            "info": "Large desktops",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column2",
            "label": "#Column 2",
            "default": "3",
            "info": "Desktops & Tablets landscape",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column3",
            "label": "#Column 3",
            "info": "Tablets & Phones landscape",
            "default": "2",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "column4",
            "label": "#Column 4",
            "default": "2",
            "info": "Smartphones",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ]
        },
        {
            "type": "select",
            "id": "row",
            "label": "Row",
            "default": "1",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                }
            ]
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limit",
            "default": "8"
        },
        {
            "type": "checkbox",
            "id": "navigation",
            "label": "Show Navigation",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto Play",
            "default": false
        },
        {
            "type": "text",
            "id": "autoplay_speed",
            "label": "Auto Play Speed",
            "info": "Default: 10000(ms)",
            "default": "10000"
        },
        {
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "info": "Slide/Fade animation speed",
            "default": "300"
        }
    ],
    "presets": [
        {
            "name": "Vela ProList Thumbnail",
            "category": "2. Vela Product",
            "settings": {
                "collection_handle": "frontpage"
            }
        }
    ]
}
{% endschema %}
