{% assign proImageSize = section.settings.image_size %}
{% assign current_variant = product.selected_or_first_available_variant %}
<div class="productBox">
  	<meta content="{{ product.variants.first.sku }}">
  	<meta content="{{ product.description | strip_html | escape }}">
  	<meta content="{{ product.vendor }}">
    <meta content="{{ shop.url }}{{ product.url }}">
    <meta content="{{ product.featured_image.src | img_url: 'grande' }}">
    <div class="proBoxPrimary">
        <div class="row">
            <div class="proBoxImage col-xs-12 col-sm-12 col-md-5 col-lg-6">
                <div class="row">
                    
                    <div class="proFeaturedImage col-xs-11 col-md-12">
                        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                        <img id="ProductPhotoImg" class="img-responsive" src="{{ featured_image | img_url: proImageSize }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" />
                    </div>
                  
                    {% if product.images.size > 1 %}
                        <div class="col-xs-11 col-sm-12 slick-padding">
                            <div id="productThumbs" class="proThumbnails">
                                <div class="owl-thumblist">
                                        <div class="slickCarousel" data-slick='{"slidesToShow": 4,
                                                       "slidesToScroll": 1,

                                                       "arrows": true,
                                                       "infinite": true,
                                                       "autoplay": false,
                                                       "autoplaySpeed": 2000,
                                                       
                                                       "touchMove": true,
                                                       "speed": 1000,
                                                       "horizontal": true,
                                                       "swipeToSlide": false
                                                                               }'
                                                        data-columnone="5"
                                                        data-columntwo="1"
                                                        data-columnthree="4"
                                                        data-columnfour="2"
                                                        data-columnfive="1">
                                            {% for image in product.images %}
                                                <div class="thumbItem">
                                                    <a href="javascript:void(0)" data-imageid="{{ image.id }}" data-image="{{ image.src | img_url: proImageSize }}" data-zoom-image="{{ image.src | img_url: '1024x1024' }}">
                                                        <img class="img-responsive" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="proBoxInfo col-xs-12 col-sm-12 col-md-7 col-lg-6">
                <h1>{{ product.title }}</h1>
                {% if settings.product_reviews_enable %}
                   <div class="proReviews">         
                     <a href="#proTabs2" data-toggle="tab" class="goToReview" aria-expanded="true" style="display: inline-block;"><span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" style="display:block;">{{ product.metafields.stamped.badge }}</span></a>
              	   	|
              		<span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;" data-type="qna" onclick="jQuery('#stamped-main-widget ul.stamped-tabs li:nth-child(2)').trigger('click'); var scrollContainer = jQuery('html, body'); var curElem = jQuery('#stamped-main-widget'); scrollContainer.animate({scrollTop : curElem.offset().top - 1}, 500);event.stopPropagation();"></span>
              		</div>
              	{% endif %}
                <div>
                  	<meta content="{{ shop.url }}{{ product.url }}">
                    <meta content="{{ shop.currency }}">
     				<meta content="{{ current_variant.price | money_without_currency }}">
                    
                    {% if section.settings.product_available_enable %}
                        {% if product.available %}
<!--                             <p class="proAttr productAvailability instock"><label>{{ 'products.product.availability' | t }}</label>: {{'products.product.available' | t }}</p> -->
                        {% else %}
<!--                             <p class="proAttr productAvailability outstock"><label>{{ 'products.product.availability' | t }}</label>: {{'products.product.unavailable' | t }}</p> -->
                        {% endif %}
                    {% endif %}
                    {% if section.settings.product_vendor_enable %}
<!--                         <p class="proAttr productVendor"><label>{{ 'products.product.vendor' | t }}</label>: {{ product.vendor }}</p> -->
                    {% endif %}
                    {% if section.settings.product_type_enable %}
<!--                         <p class="proAttr productType"><label>{{ 'products.product.type' | t }}</label>: {{ product.type }}</p> -->
                    {% endif %}
                    {% if section.settings.product_short_description == 'yes' %}
                        {% if product.description != blank %}
                            <div class="proShortDescription rte">
                                {{ product.description | strip_html | truncatewords: 50}}
                            </div>
                        {% endif %}
                    {% elsif section.settings.product_short_description == 'full' %}
                        {% if product.description != blank %}
                            <div class="proShortDescription rte">
                                {{ product.description }}
                            </div>
                        {% endif %}
                    {% endif %}
                  
                  {% if product.metafields.spr.reviews %}
                  	<a href="#proTabs2" data-toggle="tab" class="goToReview" aria-expanded="true"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></a>
                  {% endif %}   
                  
                  <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
                      	<div class="proPrice clearfix">
                          	{% assign current_variant = product.selected_or_first_available_variant %}
                          <span class="title-sku">Item #: </span><span class="variant-sku">{{ current_variant.sku }}</span><br>
                            {% if product.compare_at_price > product.price %}
                          		<span class="title-price">REGULAR PRICE: </span>
                                <span id="ComparePrice" class="priceProduct priceCompare">
                                    {{ current_variant.compare_at_price | money }}
                                </span></br>
                            {% endif %}
                          	<span class="title-price">OUR PRICE: </span>
                    		<meta content="{{ shop.currency }}">
      						<meta content="{{ variant.price | money_without_currency }}">
                          	<span id="ProductPrice" class="priceProduct">
                                {{ current_variant.price | money }}
                            </span>
                            
                        </div>
                        {% assign variantCount = product.variants | size %}
                        <div class="proVariants clearfix">
                            <select name="id" id="productSelect">
                                {% for variant in product.variants %}
                                    {% if variant.available %}
                                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                                    {% else %}
                                        <option disabled="disabled">
                                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                        </option>
                                  {% endif %}
                                {% endfor %}
                            </select>
                            {% if variantCount > 1 %}
                                {% if section.settings.product_swatch_enable %}
                                    {% for option in product.options %}
                                        {% include 'vela-swatch' with option %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="proQuantity">
                            <label for="Quantity" class="qtySelector">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector">
                        </div>
                        <div class="proButton">
                            <button type="submit" name="add" id="AddToCart" class="btn btnAddToCart">
                              <span class="fa fa-shopping-cart addcart"></span><span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                        </div>
                    </form>
                    <div class="shipping-estimate"><a class="tooltip-popup-1" title="All orders ship out from our fulfillment centers within 24 to 48 hours and typically arrive within 4 to 5 business days from the day you placed your order. ">Estimated Arrival: <br><span>5 to 7 business days</span></a></div>
                  
                    
                    <div class="left">
                      <div class="shipping-message">
                        <a class="tooltip-popup-2" ngbTooltip="Tooltip on left" title="We offer free shipping on all orders over $99. Reimbursement of shipping charges may be applicable for returns. " aria-describedby="ui-id-50">Free Shipping on Orders Over $99</a>
                      </div><div class="trust-bar">
                      	<a class="tooltip-popup-2" ngbTooltip="Tooltip on left"  title="We guarantee the lowest price for all items on our website. We will match any competitors price. The Best Price Guarantee ensures you will have the best price up to 30 days after purchase. ">
                        	<i class="fa fa-check"></i> Best Price Guarantee | 
                      	</a>
                      	<a class="tooltip-popup-1" title="All items may be returned for a refund within 30 days of purchase. Items may be subject to a 10% restocking fee and reimbursement of free shipping may be applicable. Contact us via email at sales@livingwateraeration.com for instructions on how to return an item. ">Return Policy</a>
                      </div>
                  	</div>
                    <div class="right">
                      <div class="pond-btn">
                      	<a href="/pages/pond-calculator" target="_blank">
                      		<span>Pond Calculator</span>
                      		<span>(Surface Area and Volume)</span>
                      	</a>
                      </div>
                  </div>
                  	<div id="w3-product-accessories" data-product-handle="{{ product.handle }}">
                      <div id="w3-money-format" style="display:none;">{{ shop.money_format }}</div>
                    </div>
<!--                   	 include 'vela-product-wishlist'  -->
                    {% include 'vela-product-sharing' %}
                </div>
            </div>
        </div>
      <span id="Tabs"></span>
        <section class="proDetailInfo">
          
            {% if section.settings.product_tab_type == 'protab' %}
                <ul class="nav nav-tabs" >
                    {% if section.settings.product_tab1_enable %}
                        <li><a href="#proTabs1" data-toggle="tab">{{ section.settings.product_tab1_title }}</a></li>
                    {% endif %}
<!--                     { % if section.settings.product_tab2_enable %}
                        <li><a href="#proTabs2" data-toggle="tab"> REVIEWS | QUESTIONS &amp; ANSWERS</a></li>
                    { % endif %} -->
<!--                     { % if section.settings.product_tab3_enable %}
                        <li><a href="#proTabs3" data-toggle="tab">{ { section.settings.product_tab3_title }}</a></li>
                    { % endif %} -->
                    {% if section.settings.product_tab4_enable %}
                        <li><a href="#proTabs4" data-toggle="tab">{{ section.settings.product_tab4_title }}</a></li>
                    {% endif %}
                    
                  {% if product.metafields["global"]["specs"] %}
                        <li><a href="#proTabs5" data-toggle="tab">Tech Specs</a></li>
                  {% endif %}
                  
<!--                   	<li><a href="#proTabs5" data-toggle="tab">reviews</a></li> -->
                </ul>
                <div class="tab-content">
                    {% if section.settings.product_tab1_enable %}
                        <div class="tab-pane" id="proTabs1">{{ product.description }}</div>
                    {% endif %}
                    {% if section.settings.product_tab2_enable %}
                  
<!--                         <div class="tab-pane" id="proTabs2">
                  
                     
                  
                  		                 
                  		</div> -->
                  		
                    {% endif %}
                  
<!--                     { % if section.settings.product_tab3_enable %}
                        <div class="tab-pane" id="proTabs3">{ { section.settings.product_tab3_content }}
                  			{ % include 'questions-answers' %}
                  		</div>
                  		
                    { % endif %} -->
                  
          
                  
                        <div class="tab-pane" id="proTabs5">
                            {% if product.metafields["global"]["specs"] %}
                                <div id="shopify-product-specs" data-id="{{product.id}}"> {{ product.metafields["global"]["specs"] }}</div>
                            {% endif %}
                        </div>
                    
          </div>
          				<style>
                          
                          .border-top{
                            border-top:solid 1px #e0e0e0;
                            margin-top:40px !important;
                          }
                         </style>
          
          
                           
                          <div id="stamped-main-widget" class="stamped-main-widget border-top" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}">
                              {{ product.metafields.stamped.reviews }}
                          </div>
               		
          
          
          
            {% elsif section.settings.product_tab_type == 'propanel' %}
                <div class="panel-group" id="vealAccordion">
                    {% if section.settings.product_tab1_enable %}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseOne">{{ section.settings.product_tab1_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseOne" class="panel-collapse collapse">
                                <div class="panel-body">{{ product.description }}</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if section.settings.product_tab2_enable %}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseTwo">{{ section.settings.product_tab2_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">{{ section.settings.product_tab2_content }}</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if section.settings.product_tab3_enable %}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseThree">{{ section.settings.product_tab3_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseThree" class="panel-collapse collapse">
                                <div class="panel-body">{{ section.settings.product_tab3_content }}</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if section.settings.product_tab4_enable %}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingFour">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseFour">{{ section.settings.product_tab4_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if settings.product_reviews_enable %}
                                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %} 
                  
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingFour">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseFour">{{ section.settings.product_tab4_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if settings.product_reviews_enable %}
                                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
          
                </div>
          
          
            {% endif %} 
          
          
          
        </section>
<!--         { % include 'vela-product-related' % } -->
    </div>
</div>
{% schema %}
    {
        "name": "Vela Product Page",
        "settings": [
			{
            	"type": "header",
            	"content": "Settings"
            },
            {
                "type": "checkbox",
                "id": "product_swatch_enable",
                "label": "Use Variants Swatch?"
            },
            {
                "type": "checkbox",
                "id": "product_available_enable",
                "label": "Display Product Available?",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_type_enable",
                "label": "Display Product Type?",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_vendor_enable",
                "label": "Display Product Vendor?",
				"default": true
            },
			{
                "type": "text",
                "id": "image_size",
                "label": "Image Size",
				"default": "480x480",
                "info": "Image Size is required."
            },
            {
                "type": "header",
                "content": "Product Short Description"
            },
            {
                "type": "radio",
                "id": "product_short_description",
                "label": "Display Product Short Description?",
                "options": [
                    {
                        "value": "no",
                        "label": "Don't show"
                    },
                    {
                        "value": "yes",
                        "label": "Show short description"
                    },
                    {
                        "value": "full",
                        "label": "Show full description"
                    }
                ],
                "default": "yes"
            },
            {
                "type": "header",
                "content": "Product More Info"
            },
            {
                "type": "radio",
                "id": "product_tab_type",
                "label": "Product More Info Type",
                "options": [
                    {
                        "value": "disable",
                        "label": "Don't Show"
                    },
                    {
                        "value": "protab",
                        "label": "Tab More Info"
                    },
                    {
                        "value": "propanel",
                        "label": "Panel More Info"
                    }
                ],
                "default": "protab"
            },
            {
                "type": "checkbox",
                "id": "product_tab1_enable",
                "label": "1st Enable Tab?",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab1_title",
                "label": "1st Title Tab",
                "default": "Details"
            },
            {
                "type": "checkbox",
                "id": "product_tab2_enable",
                "label": "2nd Enable Tab?"
            },
            {
                "type": "text",
                "id": "product_tab2_title",
                "label": "2nd Title Tab"
            },
            {
                "type": "textarea",
                "id": "product_tab2_content",
                "label": "2nd Tab Content"
            },
            {
                "type": "checkbox",
                "id": "product_tab3_enable",
                "label": "3rd Enable Tab?"
            },
            {
                "type": "text",
                "id": "product_tab3_title",
                "label": "3rd Title Tab"
            },
            {
                "type": "textarea",
                "id": "product_tab3_content",
                "label": "3rd Tab Content"
            },
            {
                "type": "checkbox",
                "id": "product_tab4_enable",
                "label": "4th Enable Tab?",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab4_title",
                "label": "4th Title Tab",
                "default": "Reviews"
            },
            {
                "type": "header",
                "content": "Product Social Sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_enable",
                "label": "Enable Social Sharing?",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_facebook_enable",
                "label": "Facebook Sharing",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_twitter_enable",
                "label": "Twitter Sharing",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_google_enable",
                "label": "Google Plus Sharing",
				"default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_linkedin_enable",
                "label": "Linkedin Sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_pinterest_enable",
                "label": "Pinterest Sharing"
            },
            {
                "type": "header",
                "content": "Product Related"
            },
            {
                "type": "checkbox",
                "id": "product_related_enable",
                "label": "Enable Product Related?"
            },
            {
                "type": "text",
                "id": "product_related_title",
                "placeholder": "Title for Block",
                "label": "Block Title"
            },
			{
                "type": "text",
                "id": "product_related_subtitle",
                "placeholder": "SubTitle for Block",
                "label": "SubTitle"
            },
            {
                "type": "text",
                "id": "product_related_limit",
                "placeholder": "Number. Ex: 8",
                "label": "Number of Related Product"
            }
		]
    }
{% endschema %}
<script>
  $(document).ready(function(){
    setTimeout(function(){
      jQuery('.accessories-item').each(function(){
          $(this).find('.accessories-left.small').prepend('<strong class="addAccessories">ADD:</strong>');
      });
    },3500);
    
    setTimeout(function(){
    $('.slick-slide a').click(function(){
      $('#ProductPhotoImg').prop('src',$(this).find('img').prop('src').replace('_compact',""));
      $('.slick-slide').removeClass('clicked');
      $(this).parent().addClass('clicked');
    });},1000);

    $('#productThumbs').on('click','.slick-next',function(){
      $('.clicked').next().find('a').trigger('click');
    });

    $('#productThumbs').on('click','.slick-prev',function(){
      $('.clicked').prev().find('a').trigger('click');
    }); 
    
//     when the user clicked to review start go down to the review section
    $('.goToReview').click(function(){
//         $('.nav-tabs li').removeClass('active');
//         $('.nav-tabs li:nth-child(2)').addClass('active');
        $('html, body').animate({
            scrollTop: $("#Tabs").offset().top
        }, 1000);
    });

  });
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>